.header {
  position: relative;

  background: $light-clr-1;
  border: 1.5px solid $dark-clr-1;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  padding: 18px 20px;

  display: flex;
  justify-content: space-evenly;

  @media screen and (min-width: 768px) {
    padding: 14px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 12px 24px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    
    &-icon {
      width: 30px;
      height: 30px;
      stroke-width: 0;
    }
    &-text{
      margin-left: 8px;

      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.05rem;

      color: $dark-clr-1;
    }
  }


  &__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
  }

  &__mob-menu-btn {
    cursor: pointer;
    margin-left: 14px;
    padding: 0;

    border: none;
    border-radius: 50%;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
      display: none;
    }
    &-icon {
      stroke: $dark-clr-1;
      width: 28px;
      height: 28px;
      background-color: $light-clr-1;
      &:hover,
      &:focus {
        stroke: $accent-clr;
      }
    }
    &-icon.is-hidden {
      pointer-events: none;
      opacity: 0;
      display: none;
    }
  }

  &__btn-signUp {
    display: none;

    @media screen and (min-width: 768px) {
      margin-left: 24px;
      padding: 15px 14px;
      min-width: 184px;
      height: 48px;

      color: $light-clr-1;
      background: $accent-clr;

      border: 1.5px solid $dark-clr-1;
      border-radius: 18px;

      font-family: DM Sans;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.28;
      font-style: normal;
      text-transform: none;
      letter-spacing: -0.04em;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      cursor: pointer;

      transition: all 0.3s;

      &:hover,
      &:focus {
        color: $dark-clr-1;
        background: $light-clr-1;
      }
      &-icon {
        stroke: $light-clr-2;
        position: relative;
      }
    }
  }
  &__btn-signUp.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__btn-user {
    display: none;
    @media screen and (min-width: 768px) {
      margin-left: 24px;
      padding: 4px 12px;
      min-width: 184px;
      height: 48px;

      color: $light-clr-1;
      background: $accent-clr;

      border: 1.5px solid $dark-clr-1;
      border-radius: 18px;

      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 22px;
      line-height: 1.31;
      letter-spacing: -0.02em;
      text-transform: none;

      display: flex;
      align-items: center;
      gap: 0;

      transition: all 0.3s;
      &-icon {
        width: 37px;
        height: 37px;
        fill: $accent-clr;
        background: $light-clr-1;
        border-radius: 50%;
        padding: 9px;
      }
      &-name {
        margin-left: 9px;
        margin-right: auto;
      }
      &-down-icon {
        fill: $light-clr-1;
        margin-left: 4px;
      }
    }
  }
  &__btn-user.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__btn-logout {
    display: none;

    @media screen and (min-width: 768px) {
      position: absolute;

      margin-left: 24px;

      padding: 14px 15px;
      width: 184px;
      height: 48px;

      color: $dark-clr-1;
      background-color: $light-clr-1;

      border: 1.5px solid $accent-clr;
      border-radius: 18px;

      font-family: DM Sans;
      font-size: 14px;
      line-height: 1.28;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -0.01em;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      color: $light-clr-1;
      background: $accent-clr;
    }
  }
  &__btn-logout.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__navigation {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-left: 40px;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 75px;
    }
  }
  &__navigation.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 0;
    }

    @media screen and (min-width: 1440px) {
      gap: 8px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      fill: currentColor;
    }
  }

  &__link {
    @media screen and (min-width: 768px) {
      padding: 8px 16px;
      border-radius: 36px;

      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.28;
      text-transform: uppercase;

      color: $dark-clr-1;
    }
  }

  &__link.is-active {
    background: $light-clr-2;
  }

  &__link-icon {
    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
      stroke-width: 0;
      fill: $dark-clr-1;
      vertical-align: bottom;
      stroke: $dark-clr-1;
      display: inline-block;
    }
  }
}

.mmenu {
  &__backdrop {
    position: absolute;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    max-width: 375px;
    width: 100%;
    top: 67px;
    left: 0;

    transition: all 0.3s;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    z-index: 10;
  }

  &__menu {
    height: 92vh;
    z-index: 99;

    background: url('../images/png/background-mobile-burger.png'),
      radial-gradient(
        183.6% 183.01% at 59.76% -23.42%,
        $accent-clr 18.03%,
        $light-clr-1 100%
      );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
  }

  &__button-sgnup {
    width: 185px;
    height: 48px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 15px;

    color: $light-clr-1;
    background: $accent-clr;

    cursor: pointer;
    border: 1.5px solid $dark-clr-1;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    text-transform: none;
    letter-spacing: -0.04em;

    transition: all 0.3s;

    &:hover,
    &:focus {
      color: $dark-clr-1;
      background: $light-clr-1;
    }
  }
  &__button-sgnup.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__content.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__userbar {
    height: 37px;
    margin-top: 20px;
    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;

    &__icon {
      width: 37px;
      height: 37px;
      fill: $accent-clr;
      background: $light-clr-1;
      border-radius: 50%;
      padding: 9px;
    }

    &__text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.31;
      letter-spacing: -0.02rem;
      color: $light-clr-1;
    }
  }

  &__navigation {
    margin-top: 125px;
  }
  &__navigation.is-visible {
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  &__list {
    margin: 0 auto;
    width: 120px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  &__item {
    height: 35px;

    border-radius: 36px;
    color: $light-clr-1;

    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    display: inline-flex;
  }
  &__item.nav-active {
    padding: 8px 16px;
    color: $dark-clr-1;
    background-color: $light-clr-2;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    color: inherit;
    text-transform: uppercase;
    letter-spacing: -0.04rem;

    &__icon {
      stroke-width: 0;
      fill: currentColor;
      display: inline-block;
    }
  }

  &__btn-logout {
    width: 120px;
    height: 48px;
    padding: 14px 24px;

    color: $dark-clr-1;
    background: $light-clr-1;

    border: 1.5px solid $dark-clr-1;
    border-radius: 18px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    text-transform: none;
    letter-spacing: -0.04em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 20px;
    bottom: 20px;

    transition: all 0.3s;

    &:hover,
    &:focus {
      color: $light-clr-1;
      background: $accent-clr;
    }

    &-icon {
      stroke: $light-clr-2;
    }
  }
}


// scroll

.btn-up {
  position: fixed;
  width: 54px;
  height: 54px;
  right: 0;
  bottom: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(79, 46, 232, 0.7);
  border-radius: 50%;
  border: 5px solid transparent;
  transform: translate(-50%, -50%);
  transition: border 0.2s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 99;
}

// page scroll

.btn-up::before {
  content: '';
  width: 25px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up-hide {
  opacity: 0;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
      border: 5px solid rgba(192, 179, 238, 0.8);
      border-radius: 50%;
  }
}