<div class="container">
  <header class="header">
    <a class="header__logo" href="./index.html">
      <svg class="header__logo-icon" width="30" height="30">
        <use href="./images/svg-sprite/symbol-defs.svg#booklogo-icon"></use>
      </svg>
      <span class="header__logo-text">Bookshelf</span>
    </a>

    <nav class="header__navigation js-nav is-visible">
      <ul class="header__list js-nav-list">
        <li class="header__item">
          <a class="header__link is-active" href="./index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="./shop-list.html">ShoppingList
            <svg class="header__link-icon" width="20" height="20">
              <use href="./images/svg-sprite/symbol-defs.svg#bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header__buttons">
      <include src="./partials/tumbler-theme.html"></include>

      <button type="button" class="menu-burger-open js-open-menu">
        <svg class="header-menu-mob" width="28" heigth="28">
          <use class="mobile-menu" id="menu-icon" href="./images/svg-sprite/symbol-defs.svg#icon-burger"></use>
        </svg>
        <svg class="header-menu-mob-close burger-toggle-hidden" width="28" height="28">
          <use href="./images/svg-sprite/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>



      <div class="js-sign-toggle-group">
        <button type="button" class="header__btn-signUp js-header-signup">
          Sign up
          <svg class="sign-up-icon" width="20" height="20">
            <use href="./images/svg-sprite/symbol-defs.svg#arrow-right-icon"></use>
          </svg>
        </button>
        <button type="button" class="header__btn-user js-header-info is-visible">
          <svg class="header-singin-icon" width="19" height="19">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-user"></use>
          </svg>
          <span class="js-header-name">Stephen</span>
          <svg class="header-singin-down-icon" width="23" height="26">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-arrow-down-icon"></use>
          </svg>
        </button>
        <button type="button" class="header__btn-logout is-visible js-header-logout">
          Log out<svg class="sign-up-icon" width="20" height="20">
            <use href="./images/svg-sprite/symbol-defs.svg#arrow-right-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="mmenu__backdrop mobile-menu-burger js-menu-container">
      <div class="mmenu__menu modal is-hidden mobile-menu-container">

        <button type="button" class="mmenu__button-sgnup btn-mob-signUp js-mobile-signup">
          Sign up
          <svg class="mmenu__sgnup-icon sign-up-icon" width="20" height="20">
            <use href="./images/svg-sprite/symbol-defs.svg#arrow-right-icon"></use>
          </svg>
        </button>

        <div class="mmenu__content js-mobile-menu-logedin is-visible">
          
          <div class="mmenu__userbar user-info-bar">
            <svg class="mmenu__userbar__icon header-singin-icon" width="19" height="19">
              <use href="./images/svg-sprite/symbol-defs.svg#icon-user"></use>
            </svg>
            <p class="mmenu__userbar__text user-name js-mob-name">Stephen</p>
          </div>

          <nav class="mmenu__navigation nav nav-list-mob-menu">
            <ul class="mmenu__list list js-mob-nav-list nav-list-mob-menu">
              <li class="mmenu__item nav-active nav-item">
                <a class="mmenu__link active-mob link nav-link" href="./index.html">Home</a>
              </li>
              <li class="mmenu__item nav-item">
                <a class="mmenu__link link mobile-inactive-link nav-link" href="./shop-list.html">Shopping List
                  <svg class="mmenu__link__icon header-link-icon-mob" width="20" height="20">
                    <use href="./images/svg-sprite/symbol-defs.svg#bag"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
          
          <button type="button" class="mmenu__btn-logout btn-header-mob-logout js-mobile-logout">
            Log out<svg class="mmenu__logout-icon sign-up-icon" width="20" height="20">
              <use href="./images/svg-sprite/symbol-defs.svg#arrow-right-icon"></use>
            </svg>
          </button>
          
        </div>
      </div>
    </div>
  </header>
</div>